section class="kat_tab"
  div class="container"
    = categories_tabs_row(ServiceCategory, services_path, false, tabs_class: "services-tabs")
    div  class="row category-tab-content"
      div class="tab_container"
        div id="tab1" class="tab_content"
          div id="st-accordion" class="st-accordion"
            ul class="st_akor accordion"
              = render "accordion_items", items: @services