<section class="kat_tab">
  <div class="container">
    <div class="row">
      <div id="services">
        <ul class="resp-tabs-list hor_1">
          <li>Практики</li>
          <li>Отрасли</li>
        </ul>
        <div class="resp-tabs-container hor_1">

          <div> <!--Tabs1-->
            <div id="practical">
              <ul class="resp-tabs-list ver_1">
                <li>1. Антимонопольная практика</li>
                <li>2. Банковская и финансовая практика</li>
                <li>3. Интеллектуальная собственность/информационные технологии</li>
                <li>4. Коммерческая практика</li>
                <li>6. Налоговая практика</li>
                <li>7. Налоговая практика</li>
                <li>8. Налоговая практика</li>
                <li>9. Налоговая практика</li>
                <li>10. Налоговая практика</li>
                <li>11. Налоговая практика</li>
                <li>12. Налоговая практика</li>
                <li>13. Налоговая практика</li>
                <li>14. Налоговая практика</li>
                <li>15. Налоговая практика</li>
              </ul>
              <div class="resp-tabs-container ver_1">
                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>




                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>



                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>



                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>



                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>


                <div>
                  <div class="st-content">
                    <p>Команда финансовой и банковской практики обладает богатым опытом ведения комплексных проектов, включая государственные стратегические проекты, и консультирующих по широкому спектру профильных вопросов. Юристы и эксперты ORIS вот уже на протяжении десяти лет представляют интересы мировых финансовых учреждений, таких как ЕБРР, Всемирный банк, UBS, VTB Capital, а также крупнейших казахстанских компаний по выходу на долговые международные рынки и на всех стадиях кредитования.</p>
                    <p>Наши услуги охватывают все аспекты финансирования, включая сделки с целью налоговой оптимизации, с участием национальных управляющих холдингов и государственно-частного партнерства.</p>
                    <p>Мы в состоянии успешно реализовать даже самые сложные, масштабные проекты и оперативно сформировать рабочую группу, отвечающую индивидуальным потребностям клиентов, благодаря наличию в нашей команде специалистов в области антимонопольного регулирования, налогового структурирования, финансов, арбитража и разрешения споров.</p>
                    <p>Наши знания и богатый опыт в этой области сочетаются с международным подходом и глубоким пониманием финансового рынка, правовых реалий и принципов работы регулирующих органов. Это позволяет нам всегда предлагать действенные, коммерчески обоснованные и эффективные решения для наших клиентов. Мы стремимся быть не просто юристами, а надежными партнерами для наших клиентов и помогать им в достижении поставленных бизнес-целей.</p>

                    <p class="ac_zah">Наши услуги:</p>
                    <ul>
                      <li>— консультации по банковским операциям;</li>
                      <li>— консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
                      <li>— правовое сопровождение долгового финансирования;</li>
                      <li>— консультации по вопросам Исламского финансирования;</li>
                      <li>— консультации в области проектного финансирования на всех этапах;</li>
                      <li>— реструктуризация задолженности;</li>
                      <li>— дебютные и последующие выходы на рынки капитала (IPO, Еврооблигации), секьюритизация.</li>
                    </ul>
                  </div>
                </div>





              </div>
            </div>

          </div>





          <div> <!--Tabs2-->
            <div id="sectors">
              <ul class="resp-tabs-list ver_1">
                <li>Vertical Tab 1</li>
                <li>Vertical Tab 2</li>
                <li>Vertical Tab 3</li>
                <li>Vertical Tab 4</li>
              </ul>
              <div class="resp-tabs-container ver_1">
                <div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.</p>
                </div>
                <div>
                  <p>This tab has icon in it.</p>
                </div>
                <div>
                  <p>Suspendisse blandit velit Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravid urna gravid eget erat suscipit in malesuada odio venenatis.</p>
                  <p>O my friend - but it is too much for my strength - I sink under the weight of the splendour of these visions!</p>

                </div>
                <div>
                  <p>d ut ornare non, volutpat vel tortor. InLorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.t in malesuada odio venenatis.</p>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>






    </div>
  </div>
</section>


<%= render "services_scripts" %>












