<% content_for :page_heading_container do %>
    <div class="v_slog v_slo_on">
      <div class="container">
        <div class="row">
          <img class="ab_port" src="/assets/application/aboutuspartnerbanner.jpg" alt="">
          <h3 class="vt_s">Айтуар Мадин</h3>
          <p class="vt_p">Партнер</p>
        </div>
      </div>
    </div>
<% end %>
















<section class="osn_colcont">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 honnco_le">

        <div class="row feeeww">

          <div class="col-md-12 col-sm-12 col-xs-12 het_t">
            <h3 class="nash_h3 aur_h3 jegio"><a href="#">Образование</a></h3>
            <div class="row gomi ob_ent">
              <div class="col-md-12 col-sm-12 col-xs-12 gh_ot">
                <a href="#" class="hid_gih">College of Law of England & Wales (Великобритания)</a>
                <p class="ferui">Магистр права</p>
              </div>
            </div>
            <div class="row gomi ob_ent">
              <div class="col-md-12 col-sm-12 col-xs-12 gh_ot">
                <a href="#" class="hid_gih">Казахстанский Гуманитарно-Юридический Университет</a>
                <p class="ferui">Бакалавр права</p>
              </div>
            </div>
          </div>

          <a href="#" class="gijefrt">Посмотреть проекты</a>

        </div>

        <div class="row">
          <h3 class="nash_h3 aur_h3 jegio"><a href="#">Образование</a></h3>
          <div class="bixderm">
            <ul class="bxs_one">
              <li>

                <div class="gtl_inf gyti">
                  <p>Приятно иметь дело с профессионалом в своей сфере деятельности</p>
                </div>
                <img class="gt_lw" src="/assets/application/duzhki_23.jpg" alt="alt">
                <h3 class="gtl_h3 homin">Compact GTL Limited</h3>

              </li>
              <li>

                <div class="gtl_inf gyti">
                  <p>Приятно иметь дело с профессионалом в своей сфере деятельности</p>
                </div>
                <img class="gt_lw" src="/assets/application/duzhki_23.jpg" alt="alt">
                <h3 class="gtl_h3 homin">Compact GTL Limited</h3>

              </li>
              <li>

                <div class="gtl_inf gyti">
                  <p>Приятно иметь дело с профессионалом в своей сфере деятельности</p>
                </div>
                <img class="gt_lw" src="/assets/application/duzhki_23.jpg" alt="alt">
                <h3 class="gtl_h3 homin">Compact GTL Limited</h3>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 honnco_r">
        <h3 class="osn_zah">Биография</h3>
        <p>Айтуар Мадин консультирует крупные компании (Airbus, Air liquide, Axens, SK C&C, Samsung, Marubeni) финансовые институты (Barklays, European Bank for Reconstruction and Development, Natixis, Societe Generale, UBS AG, VTB) по следующим направлениям:</p>
        <h3 class="osn_zad osn_tr">Инвестиционные проекты</h3>
        <ul>
          <li>— Разработка структур участия в инвестиционном проекте;</li>
          <li>— Legal Due Diligence приобретаемых предприятий, активов;</li>
          <li>— Сопровождение действий по реализации инвестиционного проекта, включая регистрацию компаний, приобретение долей/акций, выпуск акций, заключение лицензионных договоров, договоров поставки, услуг, договоров на управление и т.д.</li>
        </ul>
        <h3 class="osn_zad osn_tr">Сделки с участием компаний, входящих в группу управляющих национальных холдингов</h3>
        <ul>
          <li>— Сопровождение сделок с участием компаний, входящих в группу управляющих национальных холдингов (Самрук-Казына, КазАгро, Байтерек).</li>
        </ul>
        <h3 class="osn_zad osn_tr">Слияния и поглощения</h3>
        <ul>
          <li>— Учреждение, реорганизация и ликвидация компаний;</li>
          <li>— Создание и сопровождение деятельности совместных предприятий и консорциумов;</li>
          <li>— Общее правовое консультирование;</li>
          <li>— Комплексная юридическая проверка и налоговый аудит (due diligence);</li>
          <li>— Разрешение корпоративных споров;</li>
          <li>— Внедрение/улучшение корпоративного управления.</li>
        </ul>
        <h3 class="osn_zad osn_tr">Выход на рынки капитала (IPO, еврооблигации, приватизация)</h3>
        <ul>
          <li>— Консультации по банковским операциям;</li>
          <li>— Консультации по размещению всех видов ценных бумаг, деривативам (ISDA) и операциям РЕПО (GMRA);</li>
          <li>— Консультации по вопросам Исламского финансирования;</li>
          <li>— Взаимодействие и участие в переговорах с международными финансовыми институтами.</li>
        </ul>
        <h3 class="osn_zad osn_tr">Долговое финансирование</h3>
        <ul>
          <li>— Правовое сопровождение долгового финансирования;</li>
          <li>— Реструктуризация задолженности;</li>
          <li>— Секьюритизация.</li>

        </ul>
        <h3 class="osn_zad osn_tr">Совместные предприятия в стратегических отраслях</h3>
        <ul>
          <li>— Консультирование по вопросам отраслевого регулирования сферы ГЧП и тарифному регулированию;




          </li>
          <li>— Разработка концессионных соглашений и проектных договоров;</li>
          <li>— Сопровождение строительной деятельности;</li>
          <li>— Консультирование по вопросам нормативного регулирования использования природных ресурсов, стратегических объектов и иных специальных правовых режимов;</li>
          <li>— Консультирование по вопросам инвестиционных преференций, государственной поддержки, налоговых льгот, свободных экономических зон и иным специальным преференциям для инвестиций;</li>
          <li>— Консультации в области проектного финансирования на всех этапах.</li>

        </ul>
        <h3 class="osn_zad osn_tr">Общие вопросы</h3>
        <ul>
          <li>— Подготовка тендерной документации и сопровождение проведения тендера;</li>
          <li>— Консультирование по вопросам земельных правоотношений;</li>
          <li>— Получение необходимых разрешений и согласований</li>

        </ul>


        <p>Айтуар неоднократно рекомендован международными авторитетными изданиями Chamber & Partners, Legal 500, International Financial Law Review 1000 и Asian Law Profiles как юрист по казахстанскому праву. </p>
        <p>Айтуар является членом рабочей группы Министерства индустрии и торговли по разработке законодательства по вопросам регулирования товарных бирж и участником рабочей группы Комитета по финансовому надзору по вопросам совершенствования законодательства по исламскому финансированию.</p>
        <p>Окончил Казахский гуманитарно-юридический университет и магистратуру College of Law of England & Wales (степень LLM).</p>
        <p>Ранее он был юристом Renaissance Capital (инвестиционный банк) и старшим юристом другой юридической фирме.</p>

      </div>

    </div>
  </div>
</section>


<section class=" sec_pablic vn_bg">
  <div class="container">


    <div class="row pabl_pagi giht">
      <h3 class="nash_h3 aur_h3 jegio"><a href="#">Ключевые проекты</a></h3>

      <div class="one_pagi">
        <a href="#" class="progector">Проекты банков развития в Казахстане</a>
        <a href="#" class="progector">Крупнейшие проекты в урановой отрасли</a>
        <a href="#" class="progector">Заснеженный кристаллический фундамент: основные моменты</a>
        <a href="#" class="progector">Народные IPO и приватизация</a>
        <a href="#" class="progector">Проекты по дебютным выпускам Еврооблигаций</a>
        <a href="#" class="progector">Крестьянский двухпалатный парламент</a>
      </div>

    </div>
  </div>
</section>

<% content_for :scripts do %>
<script type="text/javascript">
    $('.bxs_one').bxSlider({
        controls: true,
        pager: true
    });
</script>


<script type="text/javascript">
    $(function() {
        $('.m_nor').matchHeight();
    });
</script>


<script type="text/javascript">
    $(function() {
        $('.tt_bot').matchHeight();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.progector').matchHeight();
    });
</script>







<script type="text/javascript">
    (function() {

        $.fatNav();

    }());
</script>
<script type="text/javascript">
    $('.site-search__icon').click(function() {
        $('body').toggleClass('site-search--active');
    });
</script>

<% end %>











