<% content_for :custom_header do %>

<header class="top_header p_publ">
  <div class="header_topline">
    <div class="container">

      <div class="row row_baer">

        <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
          <div class="inf_bootom">

          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="logo">
            <a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
          <div class="ob_inf">
            <a class="mow" href="#">En</a>
            <p class="soc_icon">
              <a class="hf" href="#"></a>
              <a class="ft" href="#"></a>
              <a class="hi" href="#"></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="v_slog">
    <div class="container">
      <div class="row">
        <h3 class="vt_s">Публикации</h3>
        <p class="vt_p">Самые свежие и актуальные</p>
      </div>
    </div>
  </div>
</header>

<% end %>