<% content_for :custom_header do %>
	<header class="top_header g_event">
		<div class="header_topline">
			<div class="container">
				
				<div class="row row_baer">

					<div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
						<div class="inf_bootom">
							
						</div>		
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="logo">
							<a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
						<div class="ob_inf">
							<a class="mow" href="#">En</a>
							<p class="soc_icon">
								<a class="hf" href="#"></a>
											<a class="ft" href="#"></a>
											<a class="hi" href="#"></a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="v_slog">
			<div class="container">
				<div class="row">
				<h3 class="vt_s">Мероприятия</h3>
				<p class="vt_p">Семинары, конференции, бизнес-завтраки и другие</p>
				</div>
			</div>
		</div>
	</header>
<% end %>








<section class=" m_event">
  <div class="container">
    <div class="row">
      <div class="ev_mants">
        <div class="ev_pafination">
          <h3 class="ev_dat">Ноябрь-декабрь 2015</h3>
          <a href="#" class="ex_pt"></a>
          <a href="#" class="ex_xt"></a>
        </div>

        <div class="plan_ot">
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">25/11</h3>
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
              <p class="plan_tow">Астана  <span>/ 16:00</span></p>
            </a>
          </div>
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">27/11</h3>
              <p>Политическое учение Монтескье традиционно ограничивает классический коммунизм. Политическая коммуникация, тем более в условиях социально-экономического кризиса, </p>
              <p class="plan_tow">Алматы<span>/20:00</span></p>
            </a>
          </div>
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">30/11</h3>
              <p>Конфедерация сохраняет прагматический авторитаризм. Политическая культура неоднозначна. Политическое лидерство, особенно в условиях политической нестабильности,  </p>
              <p class="plan_tow">Алматы  <span>/ 16:00</span></p>
            </a>
          </div>
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">02/12</h3>
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
              <p class="plan_tow">Астана  <span>/ 16:00</span></p>
            </a>
          </div>
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">25/11</h3>
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
              <p class="plan_tow">Астана  <span>/ 16:00</span></p>
            </a>
          </div>
          <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
            <a class="ak_plan" href="event_one.html">
              <h3 class="h3plan">25/11</h3>
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
              <p class="plan_tow">Астана  <span>/ 16:00</span></p>
            </a>
          </div>
        </div>
      </div>


      <h3 class="nash_h3 aur_h3 hev"><a href="#">Прошедшие мероприятия</a></h3>


      <div class="plan_ot ev_prod">
        <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab evenut">
          <a class="ak_plan" href="event_one.html">
            <h3 class="h3plan">25/11</h3>
            <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
            <p class="plan_tow">Астана  <span>/ 16:00</span></p>
            <p class="ev_zav">Завершено</p>
          </a>
        </div>
        <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab evenut">
          <a class="ak_plan" href="event_one.html">
            <h3 class="h3plan">27/11</h3>
            <p>Политическое учение Монтескье традиционно ограничивает классический коммунизм. Политическая коммуникация, тем более в условиях социально-экономического кризиса, </p>
            <p class="plan_tow">Алматы<span>/20:00</span></p>
            <p class="ev_zav">Завершено</p>
          </a>
        </div>
        <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab evenut">
          <a class="ak_plan" href="event_one.html">
            <h3 class="h3plan">30/11</h3>
            <p>Конфедерация сохраняет прагматический авторитаризм. Политическая культура неоднозначна. Политическое лидерство, особенно в условиях политической нестабильности,  </p>
            <p class="plan_tow">Алматы  <span>/ 16:00</span></p>
            <p class="ev_zav">Завершено</p>
          </a>
        </div>



      </div>




    </div>
  </div>
</section>
