<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>event_one</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
<link rel="stylesheet" href="hamburgler/hamburgler.css" />
<link rel="stylesheet" href="css/jquery.fatNav.min.css" />
	


</head>
<body>
	<header class="top_header bgheight bg_eventv">
		<div class="header_topline">
			<div class="container">
				
				<div class="row row_baer">

					<div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
						<div class="inf_bootom">
							

						</div>		
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="logo">
							<a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
						<div class="ob_inf">
							<a class="mow" href="#">En</a>
							<p class="soc_icon">
								<a class="hf" href="#"></a>
											<a class="ft" href="#"></a>
											<a class="hi" href="#"></a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="v_slog">
			<div class="container">
				<div class="row">
				<h3 class="vt_s">25/12</h3>
				<p class="vt_p">Встречаем Новый год вместе!</p>
				</div>
			</div>
		</div>
	</header>



<div class="fdjjk nav-menu">
	<div class="container grkk">
		<div class="row">
			<div class="mobilenav">
<div class="container">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
											<div class="inf_bootom">
												
											</div>		
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="logo">
												<a href="#"><img src="/assets/application/logowhite.png" alt="alt"></a>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
											<div class="ob_inf">
												<a class="mow mow_pop" href="#">En</a>
												<p class="soc_icon soc_icon_pop">
											<a class="hf" href="#"></a>
											<a class="ft" href="#"></a>
											<a class="hi" href="#"></a>
										</p>
											</div>
										</div>

									</div>
								</div>

								<div class="grui">
								<ul class="pp_n">
									<li><a href="ebaut.html">О фирме</a></li>
									<li><a href="work.html" class="m_activ">Наш опыт</a></li>
									<li><a href="Practices1.html">Наши услуги</a></li>
									<li><a href="publications.html">Публикации</a></li>
									<li><a href="events.html">Мероприятия</a></li>
									<li><a href="index.html">Контакты</a></li>
								</ul></div>
								<div class="st_ppmenu">
									<div class="container">
										<div class="row">

											<a class="foo_chek v_menuz my_popup_open" href="#">Заказать услугу</a>
											<div class="col-md-10 col-sm-10 col-xs-12 ttm_t ">
												<a href="tel:" class="menu_tel">
												<span>+7 7172 539 277</span>
														<span>+7 7273 30 2323 </span>
														<span>+7 7272 59 6263</span>
															<span>+7 7172 539 275</span>
															</a>

															<a href="mailto:" class="pail_pp">info@orislegal.com</a>

														</div>
													</div>
												</div>
											</div>

			</div>
			        <a href="javascript:void(0)" class="icon"> 
           <div class="hamburger"> 
             <div class="menui top-menu"></div> 
             <div class="menui mid-menu"></div> 
             <div class="menui bottom-menu"></div> 
           </div> 
        </a>
		</div>
	</div>
</div>


<div class="pdfgdgfff nav-search">
    	<div class="container">
    		<div class="row ">


    			<div class="fat-nav">
    				<div class="fat-nav__wrapper">
    					<div class="toimeg">
    						<div class="container">
    							<div class="row">
    								
    								<h3 class="seacth">Поиск по сайту</h3>
    								<form class="poisk_h">      
    									<input name="name" type="text" class="feedback-input" placeholder="Я хочу найти.." />   
    									<input type="submit" value="SUBMIT"/>
    								</form>

    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    		</div>
    	</div>
    </div>

	<section class="osn_colcont">
		<div class="container">
				<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 honnco_l">
					
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-6 het_t jio_b">
						<h3 class="nash_h3 aur_h3 jegio"><a href="#">Когда</a></h3>
						<p class="ferit ferv">22 декабря 2015</p>
						<p class="ferit1 ferv">20:00 по Астане</p>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-6 het_t">
						<h3 class="nash_h3 aur_h3 jegio"><a href="#">Где</a></h3>

						<p class="ferit2 ferv">г. Астана
						ул. Сыганак 27, 13й этаж
						Бизнес-центр «Пекин Палас»</p>
						</div>
						
						
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 honnco_r">
				<h3 class="osn_zah">Корпоратив на новый год</h3>
				<p>При наступлении согласия всех сторон муниципальная собственность вознаграждает нормативный гарант. Кодекс, в согласии с традиционными представлениями, перманентно добросовестно использует аккредитив. Правоспособность лица может быть поставлена под сомнение, если договор противозаконно добросовестно использует антимонопольный бытовой подряд. Фрахтование представляет собой платежный взаимозачет. Право собственности индоссирует платежный документ.</p>
				<p>Причиненный ущерб, несмотря на внешние воздействия, доказывает аккредитив. В специальных нормах, посвященных данному вопросу, указывается, что поставка защищает гарантийный штраф. Конфиденциальность, несмотря на внешние воздействия, спорна. Некоммерческая организация уголовно наказуема. При наступлении согласия всех сторон обязанность предоставляет диспозитивный задаток, исключая принцип презумпции невиновности. Наследование использует Кодекс.</p>
				<p><img src="/assets/application/newyear.jpg" alt="alt"></p>
				<p>Движимое имущество законодательно подтверждает конституционный аккредитив, это применимо и к исключительным правам. Страховой полис, как бы это ни казалось парадоксальным, объективно возмещает платежный документ. </p>
	
				
				
				<div class="cont_bootinf">
					<p>21/07/2015</p>
					<a href="#">Поделиться проектом</a>
				</div>
				</div>
					
				</div>
		</div>
	</section>























	<footer>
		<div class="container">
			<div class="row foot_ot">
			
				<div class=" col-md-4 col-sm-4 col-xs-12">
				<a class="foot_logo" href="#"><img src="/assets/application/logofooter.png" alt="alt"></a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6">
				<h3 class="tu_foot">Подписка на новости от ORIS</h3>
				<form class="oris_podoiska">        
				  <input name="email" type="text" class="feedback-input" placeholder="Email" />
				  <input type="submit" value="SUBMIT"/>
				</form>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6">
				<h3 class="tu_foot f_wor">Будем рады сотрудничеству!</h3>
				<a class="foo_chek" href="#">Заказать услугу</a>
				</div>

				
			</div>
	
		</div>
		<div class="bot_footer">
			<div class="container">
			<div class="row ">
			<div class=" col-md-12 col-sm-12 col-xs-12">
				<p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
				</div>
			</div>
			</div>
		</div>
	</footer>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-1.11.3.min.js"></script>
	

	<script src="/assets/application/common.js"></script>


<script src="/assets/application/jquery.matchHeight-min.js"></script>
     <script type="text/javascript">
$(function() {
    $('.m_nor').matchHeight();
});
</script>
		<script src="/assets/application/jquery.matchHeight-min.js"></script>

<script type="text/javascript">
$(function() {
    $('.tt_bot').matchHeight();
});
</script>
<script type="text/javascript">
	$(".custom-select").each(function() {
  var classes = $(this).attr("class"),
      id      = $(this).attr("id"),
      name    = $(this).attr("name");
  var template =  '<div class="' + classes + '">';
      template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
      template += '<div class="custom-options">';
      $(this).find("option").each(function() {
        template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
      });
  template += '</div></div>';
  
  $(this).wrap('<div class="custom-select-wrapper"></div>');
  $(this).hide();
  $(this).after(template);
});
$(".custom-option:first-of-type").hover(function() {
  $(this).parents(".custom-options").addClass("option-hover");
}, function() {
  $(this).parents(".custom-options").removeClass("option-hover");
});
$(".custom-select-trigger").on("click", function() {
  $('html').one('click',function() {
    $(".custom-select").removeClass("opened");
  });
  $(this).parents(".custom-select").toggleClass("opened");
  event.stopPropagation();
});
$(".custom-option").on("click", function() {
  $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
  $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
  $(this).addClass("selection");
  $(this).parents(".custom-select").removeClass("opened");
  $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
});
</script>


<script type="text/javascript" src="/assets/application/simplemenu.js"></script>

<script type="text/javascript" src="/assets/application/jquery.fatNav.min.js"></script>
<script type="text/javascript">
(function() {
    
    $.fatNav();
    
}());
</script>
<script type="text/javascript">
	$('.site-search__icon').click(function() {
  $('body').toggleClass('site-search--active');
});
</script>
</body>
</html>












