
<% content_for :custom_header do %>
    <header class="top_header h_work">
      <div class="header_topline">
        <div class="container">

          <div class="row row_baer">

            <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
              <div class="inf_bootom">

              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="logo">
                <a href="index.html"><img src="<%= images_root %>/logo.png" alt="alt"></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
              <div class="ob_inf">
                <a class="mow" href="#">En</a>
                <p class="soc_icon">
                  <a class="hf" href="#"></a>
                  <a class="ft" href="#"></a>
                  <a class="hi" href="#"></a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="v_slog">
        <div class="container">
          <div class="row">
            <h3 class="vt_s">Career</h3>
            <p class="vt_p">Станьте частью команды профессионалов</p>
          </div>
        </div>
      </div>
    </header>
<% end %>







<section class="pred_tab1">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h3 class="nash_h3 orieb ebae">Grow together with ORIS!</h3>
        <div class="kart_eb">

          <p>ORIS is a dedicated team of like-minded people integral to the Firm’s success. Everyone on our team has a chance to work on some of the most large-scale, landmark cases in Kazakhstan and beyond.</p>
          <p>During the past 10 years, the Firm handled more than a hundred innovative strategic projects in a variety of areas, including oil & gas, energy, infrastructure, "green economy" and regional development, among others, and gained wide recognition among clients, partners and international legal guides.</p>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h3 class="joilf">What makes our firm unique?</h3>
        <ul class="tr_ul">
          <li>We pay utmost importance to the personal and professional development of our people and support each undertaking in these areas.</li>
          <li>ORIS does not depend on the headquarters somewhere in London or New York and thus are able to make decisions quickly and to build up our business processes in the most efficient way.</li>
          <li>Our KPI system does not include billing hour targets. In ORIS, you won’t be living by the principle of "always be billing.”</li>
          <li>There is no micromanagement at ORIS. We are confident that every team member is able to make the right decision. The task of the partners is to provide necessary resources and be there when the team needs them.</li>

        </ul>
      </div>
    </div>
    <div class="row parm_sl">
      <div class="cont_of ggtyu col-md-8  col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
        <p class="abp_por gertss">If you want to grow professionally by working on some of the most interesting and challenging projects, fully utilizing your potential and gaining access to the top-notch legal knowledge and expertise, we look forward to receiving your CV!</p>
      </div>
    </div>
  </div>
</section>


<% if @vacancies.try(&:any?) %>
    <section class="kat_tab ww_ok">
      <div class="container">
        <div class="row">

          <h3 class="work_zah"><% @available_vacancies_count_string %></h3>

          <div id="st-accordionx" class="st-accordion">
            <ul class="st_akor">
              <% @vacancies.each do |vacancy| %>
                  <li>
                    <a href="#"><%= vacancy.name %><span class="st-arrow">Открыть или закрыть</span></a>
                    <div class="st-content">
                      <%= raw vacancy.content %>
                      <p>
                        <a href="#" class="work_ad">Подать заявку</a>
                      </p>
                    </div>
                  </li>
              <% end %>
            </ul>

          </div>





        </div>
      </div>
    </section>
<% end %>










<% content_for :scripts do %>
    <script src="/assets/pages/career.js"></script>
<% end %>