
<% content_for :custom_header do %>
    <%= render "career_header" %>
<% end %>

<section class="pred_tab1">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h3 class="nash_h3 orieb ebae">Oris</h3>
        <div class="kart_eb">

          <p>Это сплоченная команда единомышленников, в которой каждый чувствует себя неотъемлемой частью крупных, стратегически важных проектов и таким образом вносит свой вклад в развитие Казахстана.</p>
          <p>И мы успешно справляемся с этой задачей: более 10 лет юристы ORIS сопровождают проекты в приоритетных отраслях в рамках программ индустриально-инновационного развития, топливно-энергетического комплекса, модернизации инфраструктуры, «зеленой экономики» и социального развития, за что получили признание среди клиентов, партнеров и коллег.</p>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h3 class="joilf">Что еще делает нашу команду непохожей на другие юридические фиомы?</h3>
        <ul class="tr_ul">
          <li>Мы уделяем огромное внимание развитию персонала, всячески поддерживаем стремления сотрудников к обучению и работе над собой;</li>
          <li>Мы не зависим от головных офисов где-то в Лондоне или Нью-Йорке, а значит, в состоянии быстро принимать решения и выстраивать наши бизнес-процессы именно так, как нам это удобно;</li>
          <li>Наша система KPI не включается в себя billing hours targets. В ORIS вам не придется жить по принципу «always be billing»;</li>
          <li>У нас отсутствует микроменеджмент. Уверены, что команда сама в состоянии принять правильно решение. Задача партнеров — обеспечить команду ресурсами и быть рядом, когда это необходимо.</li>

        </ul>
      </div>
    </div>
    <div class="row parm_sl">
      <div class="cont_of ggtyu col-md-8  col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
        <p class="abp_por gertss">Если вы хотите работать эффективно, над долгосрочными целями, во благо страны, при этом полностью используя свой потенциал и ни на минуту не прекращая учиться — мы ждем Вас в нашей команде!</p>
      </div>
    </div>
  </div>
</section>


<section class="kat_tab ww_ok">
  <div class="container">
    <div class="row">

      <h3 class="work_zah">Доступно 6 вакансий</h3>

      <div id="st-accordionx" class="st-accordion">
        <ul class="st_akor">
          <li>
            <a href="#">Юрист<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>В юридической фирме открыта вакансия младшего юриста. Вас ожидает офисная работа в дружном коллективе, среди перспективных молодых специалистов.</p>
              <p class="ac_zah">Требования:</p>
              <ul>
                <li>— Высшее юридическое образование;</li>
                <li>— Опыт работы не менее года;</li>
                <li>— Знание английского языка, уровень intermediate;</li>
                <li>— Грамотная устная и письменная речь, умение вести деловую переписку.</li>
              </ul>

            </div>
          </li>
          <li>
            <a href="#">Офис менеджер<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </li>
          <li>
            <a href="#">Консультант<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>O my friend - but it is too much for my strength - I sink under the weight of the splendour of these visions!</p>
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </div>
          </li>
          <li>
            <a href="#">Младший юрист<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>В юридической фирме открыта вакансия младшего юриста. Вас ожидает офисная работа в дружном коллективе, среди перспективных молодых специалистов.</p>
              <p class="ac_zah">Требования:</p>
              <ul>
                <li>— Высшее юридическое образование;</li>
                <li>— Опыт работы не менее года;</li>
                <li>— Знание английского языка, уровень intermediate;</li>
                <li>— Грамотная устная и письменная речь, умение вести деловую переписку.</li>
              </ul>
              <p class="ac_zah">Должностные обязанности:</p>
              <ul>
                <li>— Составление первичных юридических документов (проектов меморандумов, договоров, запросов) и проверка их соответствия казахстанскому законодательству;</li>
                <li>— Взаимодействие с государственными органами, клиентами, в том числе иностранными;</li>
                <li>— Поиск информации в публичных источниках (базы и реестры государственных органов) и др.</li>
              </ul>
              <p class="ac_zah">Условия:</p>
              <ul>
                <li>— График работы 5/2 с 9:00 до 18:00;</li>
                <li>— Оформление по ТК РК;</li>
                <li>— Оплачиваемый отпуск 28 календарных дней.</li>
              </ul>
              <p class="ac_zah">Занятость: </p>
              <ul>
                <li>Полная занятость, полный день.</li>
              </ul>
              <p class="ac_zah">Зарплата: </p>
              <ul>
                <li>По результатам собеседования.</li>
              </ul>
              <p>HR-менеджер – <a href="#">Айнур Иманкулова</a> , e-mail: <a href="mailto:ainur.imankulova@orislegal.com.ru">ainur.imankulova@orislegal.com</a> .</p>

              <a href="#" class="work_ad">Подать заявку</a>
            </div>
          </li>
          <li>
            <a href="#">Офис менеджер<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
              <p>Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
          </li>
          <li>
            <a href="#">Консультант<span class="st-arrow">Открыть или закрыть</span></a>
            <div class="st-content">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
              <p>Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
          </li>
        </ul>
      </div>





    </div>
  </div>
</section>




















<footer>
  <div class="container">
    <div class="row foot_ot">

      <div class=" col-md-4 col-sm-4 col-xs-12">
        <a class="foot_logo" href="#"><img src="/assets/application/logofooter.png" alt="alt"></a>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot">Подписка на новости от ORIS</h3>
        <form class="oris_podoiska">
          <input name="email" type="text" class="feedback-input" placeholder="Email" />
          <input type="submit" value="SUBMIT"/>
        </form>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot f_wor">Будем рады сотрудничеству!</h3>
        <a class="foo_chek" href="#">Заказать услугу</a>
      </div>


    </div>

  </div>
  <div class="bot_footer">
    <div class="container">
      <div class="row ">
        <div class=" col-md-12 col-sm-12 col-xs-12">
          <p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js"></script>
<script src="libs/html5shiv/html5shiv.min.js"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="libs/respond/respond.min.js"></script>
<![endif]-->
<script src="libs/jquery/jquery-1.11.3.min.js"></script>


<script src="js/common.js"></script>

<script type="text/javascript" src="http://www.rimskoepravo.ru/demo/js/jquery.accordion.js"></script>
<script type="text/javascript" src="http://www.rimskoepravo.ru/demo/js/jquery.easing.1.3.js"></script>

<script type="text/javascript">
    $(function() {

        $('#st-accordionx').accordion({
            oneOpenedItem	: true
        });

    });
</script>

<script type="text/javascript" src="js/simplemenu.js"></script>>


<script type="text/javascript" src="js/jquery.fatNav.min.js"></script>
<script type="text/javascript">
    (function() {

        $.fatNav();

    }());
</script>
<script type="text/javascript">
    $('.site-search__icon').click(function() {
        $('body').toggleClass('site-search--active');
    });
</script>
</body>
</html>












