<% content_for :custom_header do %>
    <header class="top_header g_cont">
      <div class="header_topline">
        <div class="container">

          <div class="row row_baer">

            <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
              <div class="inf_bootom">

              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="logo">
                <a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
              <div class="ob_inf">
                <a class="mow" href="#">En</a>
                <p class="soc_icon">
                  <a class="hf" href="#"></a>
                  <a class="ft" href="#"></a>
                  <a class="hi" href="#"></a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="v_slog">
        <div class="container">
          <div class="row">
            <h3 class="vt_s">Контакты</h3>
            <p class="vt_p">Обращайтесь, будем рады сотрудничеству!</p>
            <a class="coo_chek" href="#">Заказать услугу</a>
            <a href="tel:" class="tel_co">+7 7172 539 277</a>
          </div>
        </div>
      </div>
    </header>

<% end %>


<section class="cont_main">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="#">Наши офисы</a></h3>


      <div class="col-md-12 col-sm-12 col-xs-12 snb_cont">
        <div class="one_ofis">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 on_oth jior1">
              <img src="/assets/application/contactsalmati.jpg" alt="alt">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 ofil_inf jior1">
              <div class="row getco">
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <h3 class="test_i1 h_ofst"><a href="#">Астана</a></h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <p class="soc_icon">
                    <a class="hf" href="#"></a>
                    <a class="ft" href="#"></a>
                    <a class="hi" href="#"></a>
                  </p>
                </div>
              </div>

              <div class="b_cont">
                <p class="p_obof">Наш офис, расположенный в Астане, позволяет нам тесно сотрудничать с национальными компаниями, государственными органами и иностранными инвесторами.</p>
                <ul class="conif_tow">
                  <li> <p> ул. Сыганак 27, 13й этаж
                    Бизнес-центр «Пекин Палас»
                    010000, Астана, Казахстан</p>
                  </li>
                  <li><a href="tel:+7 7172 539 277" class="menuf_ikj">
                    <p>+7 7172 539 277</p>
                    <p>+7 7172 539 275</p></a>
                  </li>
                  <li><a href="mailto:nfo@orislegal.com" class="mmlc">nfo@orislegal.com</a> </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>



      <div class="col-md-12 col-sm-12 col-xs-12 snb_cont">
        <div class="one_ofis">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 on_oth jior">
              <img src="/assets/application/contactsastana.jpg" alt="alt">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 ofil_inf jior ">
              <div class="row getco">
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <h3 class="test_i1 h_ofst"><a href="#">Алматы</a></h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <p class="soc_icon">
                    <a class="hf" href="#"></a>
                    <a class="ft" href="#"></a>
                    <a class="hi" href="#"></a>
                  </p>
                </div>
              </div>

              <div class="b_cont">
                <p class="p_obof">Наш офис в Алматы позволяет нам локально сотрудничать с финансовыми институтами, фондовой биржей и коммерческими структурами.</p>
                <ul class="conif_tow">
                  <li> <p>пр. Достык 188, офис 805
                    Бизнес-центр «Кулан»
                    050051, Алматы, Казахстан</p>
                  </li>
                  <li><a href="tel:+7 7172 539 277" class="menuf_ikj">
                    <p>+7 7273 30 2323</p>
                    <p>+7 7272 59 6263</p></a>
                  </li>
                  <li><a href="mailto:nfo@orislegal.com" class="mmlc">nfo@orislegal.com</a> </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>



<section class="map_cont">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="#">Посмотреть на карте</a></h3>
    </div>
  </div>
  <div class="c_m">
    <img src="/assets/application/map_02.jpg" alt="alt">
  </div>
</section>







<section class="las_cont">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="#">Напишите нам</a></h3>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form_co">
          <form class="ff_for m_ing">
            <div class="g_cinf">
              <input name="name" type="text" class="feedback-input" placeholder="Имя">
              <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона">
              <input name="email" type="text" class="feedback-input" placeholder="Електронная почта">
              <textarea name="text" class="feedback-input" placeholder="Сообщение..."></textarea>
            </div>
            <input type="submit" value="Отправить">
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="con_snt g_cinf">
          <h3 class="nash_h3 cont_inde"><a href="#">Хотите быть всегда в курсе наших новостей?</a></h3>
          <p class="cint_inf">Подпишитесь на нашу рассылку, чтобы первыми узнавать о новостях фирмы</p>
          <form class="oris_podoiska cont_poisk">
            <input name="email" type="text" class="feedback-input" placeholder="Email">
            <input type="submit" value="SUBMIT">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>




