
<% (:custom_header) %>
	<header class="top_header w_work">
		<div class="header_topline">
			<div class="container">
				
				<div class="row row_baer">

					<div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
						<div class="inf_bootom">
						

						</div>		
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="logo">
							<a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
						<div class="ob_inf">
							<a class="mow" href="#">En</a>
							<p class="soc_icon">
								<a class="hf" href="#"></a>
											<a class="ft" href="#"></a>
											<a class="hi" href="#"></a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="v_slog">
			<div class="container">
				<div class="row">
				<h3 class="vt_s">Наш опыт</h3>
				<p class="vt_p">Избранные сделки нашей команды</p>
				</div>
			</div>
		</div>
	</header>




<div class="fdjjk nav-menu">
	<div class="container grkk">
		<div class="row">
			<div class="mobilenav">
<div class="container">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
											<div class="inf_bootom">
												
											</div>		
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="logo">
												<a href="#"><img src="/assets/application/logowhite.png" alt="alt"></a>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
											<div class="ob_inf">
												<a class="mow mow_pop" href="#">En</a>
												<p class="soc_icon soc_icon_pop">
											<a class="hf" href="#"></a>
											<a class="ft" href="#"></a>
											<a class="hi" href="#"></a>
										</p>
											</div>
										</div>

									</div>
								</div>

								<div class="grui">
								<ul class="pp_n">
									<li><a href="ebaut.html">О фирме</a></li>
									<li><a href="work.html" class="m_activ">Наш опыт</a></li>
									<li><a href="Practices1.html">Наши услуги</a></li>
									<li><a href="publications.html">Публикации</a></li>
									<li><a href="events.html">Мероприятия</a></li>
									<li><a href="contact.html">Контакты</a></li>
								</ul></div>
								<div class="st_ppmenu">
									<div class="container">
										<div class="row">

											<a class="foo_chek v_menuz my_popup_open" href="#">Заказать услугу</a>
											<div class="col-md-10 col-sm-10 col-xs-12 ttm_t ">
												<a href="tel:" class="menu_tel">
												<span>+7 7172 539 277</span>
														<span>+7 7273 30 2323 </span>
														<span>+7 7272 59 6263</span>
															<span>+7 7172 539 275</span>
															</a>

															<a href="mailto:" class="pail_pp">info@orislegal.com</a>

														</div>
													</div>
												</div>
											</div>

			</div>
			        <a href="javascript:void(0)" class="icon"> 
           <div class="hamburger"> 
             <div class="menui top-menu"></div> 
             <div class="menui mid-menu"></div> 
             <div class="menui bottom-menu"></div> 
           </div> 
        </a>
		</div>
	</div>
</div>



<div class="pdfgdgfff nav-search">
    	<div class="container">
    		<div class="row ">


    			<div class="fat-nav">
    				<div class="fat-nav__wrapper">
    					<div class="toimeg">
    						<div class="container">
    							<div class="row">
    								
    								<h3 class="seacth">Поиск по сайту</h3>
    								<form class="poisk_h">      
    									<input name="name" type="text" class="feedback-input" placeholder="Я хочу найти.." />   
    									<input type="submit" value="SUBMIT"/>
    								</form>

    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    		</div>
    	</div>
    </div>


	<section class="pob_sech">
		<div class="container">
			<div class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Фильтр Практик</h3>
		  <select name="sources" id="sources" class="custom-select sources" placeholder="Все виды практик">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
			</div>


			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Фильтр Отраслей</h3>
		  <select name="sources" id="sources" class="custom-select sources" placeholder="Автомобильная промышленность">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
			</div>


			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Сортировка</h3>
				
			<div class="otr_se">
			<div class="gu_t1">
		  <select name="sources" id="sources" class="custom-select sources" placeholder="По дате">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
		  </div>
		  <div class="gu_t2">
		  <a href="#" class="lin_top"></a>
		  <a href="#" class="lin_boot"></a>
		  </div>
		  </div>
			</div>
			</div>
		</div>
	</section>


	<section class=" sec_pablic">
		<div class="container">
			<div class="row">
			<div class="ob_pab">
				<div class="cont_filtr">
					<ul class="menu_pab pab_pabl batot">
						<li><a href="#">Все проекты</a></li>
						<li><a href="#">Инфраструктурные</a></li>
						<li><a class="p_activ" href="#">Инвестиционные</a></li>
						<li><a href="#">Корпоративные</a></li>
						<li><a href="#">Финансовые</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="row">
			<h3 class="work_zah">6 Проектов</h3>
				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<img src="/assets/application/images56.jpg" alt="alt">
						<div class="test_title">
							<a href="#">инфраструктурные проекты</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Проекты банков развития в Казахстане</a></h3>
					<p class="test_i2">Проектной компании в строительстве Балхашской ТЭС мощностью 1320 МВтс, с участием Самрук-Энерго и Samsung C&T (сумма </p>
					<div class="title_teg">
						<a class="tt_a" href="#">Корпоративная практика,</a>
						<a class="tt_a" href="#">Автомобильная промышленность</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<img src="/assets/application/imageproject_05.jpg" alt="alt">
						<div class="test_title">
							<a href="#">Инвестиционные проекты</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Народные IPO и приватизация</a></h3>
					<p class="test_i2">Вексель последовательно вознаграждает дееспособный штраф. Информация бесконтрольно своевременно исполняет штраф. Вексель последовательно вознаграждает дееспособный </p>
					<div class="title_teg">
						<a class="tt_a" href="#">Судебная практика,</a>
						<a class="tt_a" href="#">Спорт</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<img src="/assets/application/imageproject_09.jpg" alt="alt">
						<div class="test_title">
							<a href="#">Корпоративные сделки</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Крупнейшие проекты в урановой отрасли</a></h3>
					<p class="test_i2">Проектной компании в строительстве Балхашской ТЭС мощностью 1320 МВтс, с участием Самрук-Энерго и Samsung C&T (сумма инвестиций...</p>
					<div class="title_teg">
						<a class="tt_a" href="#">Налоговая практика,</a>
						<a class="tt_a" href="#">Спорт</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<img src="/assets/application/imageproject_10.jpg" alt="alt">
						<div class="test_title">
							<a href="#">Финансовые сделки</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Проекты по дебютным выпускам Еврооблигаций</a></h3>
					<p class="test_i2">Вексель последовательно вознаграждает дееспособный штраф. Информация бесконтрольно своевременно исполняет штраф. Вексель последовательно вознаграждает дееспособный</p>
					<div class="title_teg">
						<a class="tt_a" href="#">Недропользование,</a>
						<a class="tt_a" href="#">Фармацевтика</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>


			</div>
			<div class="row pabl_pagi">
				<div class=" pos_pub pPpubl">
					<a href="#">
						<p>Читать</p>
						<h3>Новости фирмы</h3>
						<span></span>
					</a>
				</div>
				<div class=" pos_pub pPpubr">
					<a href="#">
						<p>Читать</p>
						<h3>Новости фирмы</h3>
						<span></span>
					</a>
				</div>
			</div>
		</div>
	</section>




















	<footer>
		<div class="container">
			<div class="row foot_ot">
			
				<div class=" col-md-4 col-sm-4 col-xs-12">
				<a class="foot_logo" href="#"><img src="/assets/application/logofooter.png" alt="alt"></a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6">
				<h3 class="tu_foot">Подписка на новости от ORIS</h3>
				<form class="oris_podoiska">        
				  <input name="email" type="text" class="feedback-input" placeholder="Email" />
				  <input type="submit" value="SUBMIT"/>
				</form>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6">
				<h3 class="tu_foot f_wor">Будем рады сотрудничеству!</h3>
				<a class="foo_chek" href="#">Заказать услугу</a>
				</div>

				
			</div>
	
		</div>
		<div class="bot_footer">
			<div class="container">
			<div class="row ">
			<div class=" col-md-12 col-sm-12 col-xs-12">
				<p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
				</div>
			</div>
			</div>
		</div>
	</footer>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-1.11.3.min.js"></script>
	

	<script src="/assets/application/common.js"></script>


<script src="/assets/application/jquery.matchHeight-min.js"></script>
     <script type="text/javascript">
$(function() {
    $('.m_nor').matchHeight();
});
</script>

		<script src="/assets/application/jquery.matchHeight-min.js"></script>

<script type="text/javascript">
$(function() {
    $('.tt_bot').matchHeight();
});
</script>
<script type="text/javascript">
	$(".custom-select").each(function() {
  var classes = $(this).attr("class"),
      id      = $(this).attr("id"),
      name    = $(this).attr("name");
  var template =  '<div class="' + classes + '">';
      template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
      template += '<div class="custom-options">';
      $(this).find("option").each(function() {
        template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
      });
  template += '</div></div>';
  
  $(this).wrap('<div class="custom-select-wrapper"></div>');
  $(this).hide();
  $(this).after(template);
});
$(".custom-option:first-of-type").hover(function() {
  $(this).parents(".custom-options").addClass("option-hover");
}, function() {
  $(this).parents(".custom-options").removeClass("option-hover");
});
$(".custom-select-trigger").on("click", function() {
  $('html').one('click',function() {
    $(".custom-select").removeClass("opened");
  });
  $(this).parents(".custom-select").toggleClass("opened");
  event.stopPropagation();
});
$(".custom-option").on("click", function() {
  $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
  $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
  $(this).addClass("selection");
  $(this).parents(".custom-select").removeClass("opened");
  $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
});
</script>


<script type="text/javascript" src="/assets/application/simplemenu.js"></script>

<script type="text/javascript" src="/assets/application/jquery.fatNav.min.js"></script>
<script type="text/javascript">
(function() {
    
    $.fatNav();
    
}());
</script>
<script type="text/javascript">
	$('.site-search__icon').click(function() {
  $('body').toggleClass('site-search--active');
});
</script>
    
</body>
</html>












