<div class="col-md-4 col-sm-4 col-xs-12 honnco_l">

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-6 het_t">
      <h3 class="nash_h3 aur_h3 jegio"><a href="#">Дата публикаци</a></h3>

      <p class="ferit"><%= article.formatted_word_date %></p>
    </div>


  </div>
</div>