<footer>
  <div class="container">
    <div class="row foot_ot">

      <div class=" col-md-4 col-sm-4 col-xs-12">
        <a class="foot_logo" href="#"><img src="/assets/application/logofooter.png" alt="alt"></a>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot">Подписка на новости от ORIS</h3>
        <form class="oris_podoiska">
          <input name="email" type="text" class="feedback-input" placeholder="Email" />
          <input type="submit" value="SUBMIT"/>
        </form>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot f_wor">Будем рады сотрудничеству!</h3>
        <a class="foo_chek my_popup_open" href="#">Заказать услугу</a>
      </div>


    </div>

  </div>
  <div class="bot_footer">
    <div class="container">
      <div class="row ">
        <div class=" col-md-12 col-sm-12 col-xs-12">
          <p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="my_popup">
  <div class="cent_blok_k">
    <h3 class="pop_h">Заказать услугу</h3>
    <form class="ff_for popz">
      <input name="name" type="text" class="feedback-input" placeholder="Название компании*" />
      <input name="name" type="text" class="feedback-input" placeholder="Сфера деятельности*" />
      <input name="name" type="text" class="feedback-input" placeholder="Контактное лицо*" />
      <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона*" />
      <input name="email" type="text" class="feedback-input" placeholder="Електронная почта*" />
      <textarea name="text" class="feedback-input" placeholder="Описание проекта/запроса*"></textarea>
      <p class="ob_po">* Обязательные поля</p>
      <input type="submit" value="Отправить"/>
    </form>
    <a href="#" class="my_popup_close ta_x">Close</a>
  </div>
</div>