<header class="top_header">
  <div class="header_topline">
    <div class="container">

      <div class="row row_baer">

        <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
          <div class="inf_bootom">

          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 reht">
          <div class="logo">
            <a href="#"><img src="/assets/application/logo.png" alt="alt"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
          <div class="ob_inf">
            <a class="mow" href="#">En</a>
            <p class="soc_icon">
              <a class="hf" href="#"></a>
              <a class="ft" href="#"></a>
              <a class="hi" href="#"></a>
            </p>

          </div>
        </div>
      </div>

    </div>

    <div class="s_1hed">
      <div class="container">
        <div class="row post_ban">
          <div class="tu_ban">
            <ul class="bxslider second-main-banner">
              <li><a href="#">
                <img src="/assets/application/slide_03.jpg" alt="alt">
                <p class="s_slogan">Проекты банков развития в Казахстане <span></span></p></a>
              </li>
              <li><a href="#">
                <img src="/assets/application/slide_03.jpg" alt="alt">
                <p class="s_slogan">Проекты банков развития в Казахстане <span></span></p> </a>
              </li>
              <li><a href="#">
                <img src="/assets/application/slide_03.jpg" alt="alt">
                <p class="s_slogan">Проекты банков развития в Казахстане <span></span> </p></a>
              </li>

            </ul>

            <div class="custom-thumbnails-wrap">
              <ul id="custom-thumbnails">
                <li><a data-slide-index="0" href="">1</a></li>
                <li><a data-slide-index="1" href="">2</a></li>
                <li><a data-slide-index="2" href="">3</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="hed_baner">
    <ul class="bxslider first-main-banner">
      <li>
        <div class=" bi had_bgimg"></div>
        <div class="hed_bgefect"></div>
      </li>
      <li>
        <div class=" bi had_bgimg"></div>
        <div class="hed_bgefect"></div>
      </li>
      <li>
        <div class=" bi had_bgimg"></div>
        <div class="hed_bgefect"></div>
      </li>

    </ul>
  </div>
</header>