<footer>
  <div class="container">
    <div class="row foot_ot">
      <div class=" col-md-5 col-sm-5 col-xs-12 f_f_right">

        <div class="foot_form">
          <h3 class="fot_slogan">Напишите нам!</h3>
          <form class="ff_for">
            <input name="name" type="text" class="feedback-input" placeholder="Имя" />
            <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона" />
            <input name="email" type="text" class="feedback-input" placeholder="Електронная почта" />
            <textarea name="text" class="feedback-input" placeholder="Сообщение..."></textarea>
            <input type="submit" value="Отправить"/>
          </form>
        </div>
      </div>
      <div class=" col-md-7 col-sm-7 col-xs-12 ll_inf ">
        <h3 class="slog_part">Будем рады сотрудничеству</h3>
        <div class="row">
          <div class=" col-md-5 col-sm-5 col-xs-5  ad_bol">
            <h3 class="f_tawn"><a href="contact.html">Офис в Астане</a></h3>
            <ul class="f_inf_ad">
              <li> <p>ул. Сыганак, 27, Бизнес-центр&nbsp;«Пекин Палас», 11й этаж, 010000, г.&nbsp;Астана, Казахстан</p>
              </li>
              <li><p>+7 7172 539 277</p>
                <p>+7 7172 539 275</p>
              </li>
              <li><p>nfo@orislegal.com</p> </li>
            </ul>
          </div>
          <div class=" col-md-2 col-sm-2 col-xs-2 ad_bot">
          </div>
          <div class=" col-md-5 col-sm-5 col-xs-5 ad_bol">
            <h3 class="f_tawn"><a href="contact.html">Офис в Алматы</a></h3>
            <ul class="f_inf_ad">
              <li> <p>пр. Достык, 188, Бизнес-центр&nbsp;«Кулан», 8й этаж, оф. 805, 050059, г.&nbsp;Алматы, Казахстан</p>
              </li>
              <li><p>+7 727 330 23 23</p>
                <p>+7 727 259 62 63</p>
              </li>
              <li><p>nfo@orislegal.com</p> </li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="bot_footer">
    <div class="container">
      <div class="row ">
        <div class=" col-md-12 col-sm-12 col-xs-12">
          <p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>
</footer>