<div class="s_1hed">
  <div class="container">
    <div class="row post_ban">
      <div class="tu_ban">
        <ul class="bxslider second-main-banner">
          <li><a href="ebaut.html#recognition">
            <img src="<%= images_root %>/slide_03.jpg" alt="alt">
            <p class="s_slogan">A new breed of local firm, offering good advice and a strong dedication to client service” – Legal 500 (link to Recognition)  <span></span></p></a>
          </li>
          <li><a href="Practices1.html">
            <img src="<%= images_root %>/slide_03.jpg" alt="alt">
            <p class="s_slogan">Leading law firm with proven track of cutting-edge projects in the power and natural resources sectors (link to Our Services)<span></span></p> </a>
          </li>
          <li><a href="Practices1.html">
            <img src="<%= images_root %>/slide_03.jpg" alt="alt">
            <p class="s_slogan">Trusted legal advisor to financial development institutions (link to Our Services) <span></span> </p></a>
          </li>

        </ul>

        <div class="custom-thumbnails-wrap">
          <ul id="custom-thumbnails">
            <li><a data-slide-index="0" href="">1</a></li>
            <li><a data-slide-index="1" href="">2</a></li>
            <li><a data-slide-index="2" href="">3</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>