

<!--[if lt IE 9]>
<script src="/assets/libs/html5shiv/ie.js"></script>
<![endif]-->





<script src="/assets/application.js"></script>

<% if content_for?(:scripts) %>
    <%= content_for :scripts %>
<% end %>


<script type="text/javascript">
    $(".custom-select").each(function() {
        var classes = $(this).attr("class"),
                id      = $(this).attr("id"),
                name    = $(this).attr("name");
        var template =  '<div class="' + classes + '">';
        template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
        template += '<div class="custom-options">';
        $(this).find("option").each(function() {
            template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
        });
        template += '</div></div>';

        $(this).wrap('<div class="custom-select-wrapper"></div>');
        $(this).hide();
        $(this).after(template);
    });
    $(".custom-option:first-of-type").hover(function() {
        $(this).parents(".custom-options").addClass("option-hover");
    }, function() {
        $(this).parents(".custom-options").removeClass("option-hover");
    });
    $(".custom-select-trigger").on("click", function() {
        $('html').one('click',function() {
            $(".custom-select").removeClass("opened");
        });
        $(this).parents(".custom-select").toggleClass("opened");
        event.stopPropagation();
    });
    $(".custom-option").on("click", function() {
        $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
        $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
        $(this).addClass("selection");
        $(this).parents(".custom-select").removeClass("opened");
        $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
    });
</script>

<script type="text/javascript">
    $('.site-search__icon').click(function() {
        $('body').toggleClass('site-search--active');
    });
</script>

<script>


    $('#my_popup').popup({
        transition: 'all 0.3s'
    });
</script>


<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1500
        });
    });
</script>

<script type="text/javascript">
    (function() {

        $.fatNav();

    }());
</script>

<script type="text/javascript">
    $(function() {
        $('.tt_bot').matchHeight();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.m_nor').matchHeight();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.plan_tab').matchHeight();
    });
</script>

<script type="text/javascript">
    $('.bxslidere').bxSlider({
        nextSelector: '#slider-next',
        prevSelector: '#slider-prev',
        pager: false,
        nextText: 'Onward',
        prevText: 'Go back'
    });
</script>