<div class="pdfgdgfff nav-search">
  <div class="container">
    <div class="row ">


      <div class="fat-nav">
        <div class="fat-nav__wrapper">
          <div class="toimeg">
            <div class="container">
              <div class="row">

                <h3 class="seacth"><%=t 'search.website_search' %></h3>
                <%= render 'search_form', form_class: 'poisk_h' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
