<div class="pdfgdgfff nav-search">
  <div class="container">
    <div class="row ">


      <div class="fat-nav">
        <div class="fat-nav__wrapper">
          <div class="toimeg">
            <div class="container">
              <div class="row">

                <h3 class="seacth">Поиск по сайту</h3>
                <form class="poisk_h">
                  <input name="name" type="text" class="feedback-input" placeholder="Я хочу найти.." />
                  <input type="submit" value="SUBMIT"/>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>