<p> The law firm opened a vacancy junior lawyer. You will be office work in a friendly team, among the promising young professionals. </P>
                                 <p class = "ac_zah"> Requirements: </p>
                                 <ul>
                                     <li> - Higher legal education; </li>
                                     <li> - experience at least a year; </li>
                                     <li> - Knowledge of English, level intermediate; </li>
                                     <li> - Correct oral and written language, the ability to conduct business correspondence. </li>
                                     </ul>